/* Definição da fonte personalizada */
@font-face {
  font-family: 'texgyreadventor-italic';
  src: url('./texgyreadventor-italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Cores e fonte principal */
  --cor-principal: #a31f1f;
  --cor-texto: #fff;
  --cor-hover: #ff7b7b;
  --fonte-principal: 'TeX Gyre Adventor', sans-serif;
}

/* Estilos globais do corpo da página */
body {
  margin-bottom: 100px;
  font-family: var(--fonte-principal);
}

/* Estilos para elementos específicos */
.barra-superior {
  background-color: var(--cor-principal);
  height: 94px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .barra-superior {
    height: 70px;
  }
}


@media only screen and (max-width: 480px) {
  .barra-superior {
    height: 60px;
  }
}

.rodape {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px; /* Ajuste conforme necessário */
  background-color: var(--cor-principal);
  color: var(--cor-texto);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

/* Adaptação para telas menores */
@media only screen and (max-width: 768px) {
  .rodape {
    height: 20px; 
    font-size: 14px; 
  }
}


@media only screen and (max-width: 480px) {
  .rodape {
    height: 15px; 
    font-size: 12px; 
  }
}

/* Estilo padrão para o retângulo branco */
.retangulo-branco {
  background-color: #ffffff;
  width: 139px;
  height: 126px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.retangulo-branco img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 25px;
  margin-top: -10px;
}


@media only screen and (max-width: 768px) {
  .retangulo-branco {
    width: 100px; 
    height: 90px; 
    border-radius: 30px; 
    margin-top: 40px; 
  }

  .retangulo-branco img {
    max-width: 70%; 
    max-height: 70%; 
    border-radius: 15px; 
  }
}

@media only screen and (max-width: 480px) {
  .retangulo-branco {
    width: 80px; 
    height: 70px; 
    border-radius: 20px; 
    margin-top: 30px; 
  }

  .retangulo-branco img {
    max-width: 60%; 
    max-height: 60%; 
    border-radius: 10px; 
  }
}

.primeiro-paragrafo {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .primeiro-paragrafo {
    margin-top: 15px; 
  }
}

@media only screen and (max-width: 480px) {
  .primeiro-paragrafo {
    margin-top: 10px; 
  }
}

.barra-navegacao {
  background-color: var(--cor-principal);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 58px;
}

.barra-navegacao a {
  color: var(--cor-texto);
  margin: 0 15px;
  text-decoration: none;
}

.barra-navegacao a:hover {
  color: var(--cor-hover);
}

.barra-fina {
  height: 2px;
  background-color: #333;
  width: 100%;
}

.titulo-equipe {
  font-family: 'Horizon', sans-serif;
  text-align: center;
  margin: 70px 0 50px;
  padding: 20px;
  color: var(--cor-principal);
  position: absolute;
  top: 65%; /* Ajuste o valor para mover para baixo */
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.segundo-paragrafo {
  text-align: justify;
  margin-top: -20px;
  padding: 20px;
}

/* Adaptação para telas menores */
@media only screen and (max-width: 768px) {
  .segundo-paragrafo {
    margin-top: -15px; 
    padding: 15px; 
  }

  .segundo-paragrafo p {
    font-size: 16px; 
    margin-bottom: 10px; 
  }
}

@media only screen and (max-width: 480px) {
  .segundo-paragrafo {
    margin-top: -10px; 
    padding: 10px; 
  }

  .segundo-paragrafo p {
    font-size: 14px; 
    margin-bottom: 5px; 
  }
}


.container-eclipses {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.eclipse,
.eclipsepessoa {
  width: 154px;
  height: 147px;
  margin-right: 0px;
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.eclipse img,
.eclipsepessoa img {
  width: 102%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.eclipse p,
.eclipsepessoa p {
  margin-top: 50px;
}

.eclipse:hover,
.eclipsepessoa:hover {
  transform: scale(1.1);
}

.botoes-container {
  position: fixed;
  top: 0px;
  right: 825px;
  text-align: center;
  margin-top: 780px;
}

.botao {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: var(--cor-principal);
  color: var(--cor-texto);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: var(--cor-hover);
}

@keyframes moveText {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes colorChange {
  0% {
      color: rgba(255, 255, 255, 0.979);
  }
  25% {
      color: rgb(235, 247, 238);
  }
  50% {
      color: rgb(212, 212, 212);
  }
  75% {
      color: rgb(227, 227, 241);
  }
  100% {
      color: rgb(231, 222, 224);
  }
}



.rodape-textos {
  display: flex;
  animation: moveText 10s linear infinite, colorChange 10s linear infinite;
}

.rodape-texto {
  padding: 0 20px;
  white-space: nowrap;
}

.container-pessoa {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 94px);
  margin-top: 10px;
}

.sobre-pessoa {
  margin-top: -110px; /* Ajuste conforme necessário */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-pessoa p {
  font-size: 18px;
  line-height: 1.8;
  font-family: 'League Spartan', sans-serif;
  font-weight: normal;
  margin: -350px 0 10px; /* Ajuste a margem superior conforme necessário */
  max-width: 80%;
  white-space: normal;
  overflow: hidden;
}
.emojis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Ajuste conforme necessário */
}

.emoji {
  font-size: 24px;
  margin: 5px;
  opacity: 0;
  animation: pulseAnimation 4s infinite;
}

@keyframes pulseAnimation {
  0% {
      transform: scale(1);
      opacity: 0.8;
  }
  50% {
      transform: scale(1.2);
      opacity: 0.4;
  }
  100% {
      transform: scale(1);
      opacity: 0.8;
  }
}
